@{
    //var categories = ViewBag.Categories as IEnumerable<Category>;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewData["Title"] - ECommMVC.UI</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ECommMVC.UI.styles.css" asp-append-version="true" />
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <!-- LOGO eklenecek -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a> </li>
                    <!-- <li class="nav-item"><a class="nav-link" href="#!">About</a></li> -->
                    @await Component.InvokeAsync("Category")
                </ul>
                @if(!User.Identity.IsAuthenticated)
                {
                    <a class="btn btn-outline-dark mx-1" asp-action="Login" asp-controller="Security">Login</a>
                }
                else
                {
                    <span>@User.FindFirst("FirstName")?.Value @User.FindFirst("LastName")?.Value</span>
                    <a class="btn btn-outline-dark mx-1" asp-action="Logout" asp-controller="Security">Logout</a>
                    <a class="btn btn-outline-dark mx-1" asp-action="Index" asp-controller="UserOrder">My Orders</a>
                    @if(User.IsInRole("Admin"))
                    {
                        <a class="btn btn-outline-dark mx-1" asp-action="Index" asp-controller="Admin">Admin</a>
                    }
                }
                
                    <a class="btn btn-outline-dark mx-1" asp-action="Index" asp-controller="Cart">
                        <i class="bi-cart-fill me-1"></i>
                        Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill">@await Component.InvokeAsync("Cart")</span>
                    </a>
            </div>
        </div>
    </nav>
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Welcome to ECommProject</h1>
                <p class="lead fw-normal text-white-50 mb-0">Developed by Ahmet Can Çakmak</p>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; ECommProject by Ahmet Can Çakmak 2024</p></div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
